* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#metronome {
    background: linear-gradient(#9fccfa, #0974f1);
    padding: 1em;
    margin: 2em;
    border-radius: 2em;
    text-align: center;
    position: relative;
    border: 2px solid black;
    box-shadow: rgba(0,0,0,0.5) 10px 10px 10px;
}

input {
    border-radius: 1em;
    padding: 1em;
    margin: 0.2em;
    text-align: center;
}

#logo {
    width: 3em;
    border-radius: 50%;
    position: absolute;
    right: 1em;
    bottom: 1em;
    opacity: 0.8;
    border: solid 2px white;
}

#txtBPM {
    font-size: 2em;
    width: 50vw;
    padding: 1em 0;
}

.bpm-change {
    font-size: 1.5em;
}

#btnIncreaseBPM:hover {
    box-shadow: green 0 0 8px 8px;
}

#btnDecreaseBPM:hover {
    box-shadow: red 0 0 8px 8px;
}

#btnDecreaseBPM {
    background-color: red;
}

#btnIncreaseBPM {
    background-color: green;
    
}

